<link rel="stylesheet" type="text/css" href="/common_static/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/common_static/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/common_static/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/common_static/themes/portal.css">
<link rel="stylesheet" type="text/css" href="/common_static/themes/default/devbase.css">
<link rel="stylesheet" type="text/css" href="/common_static/themes/default/base.css">

<script type="text/javascript" src="/common_static/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/common_static/scripts/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/common_static/scripts/jquery.portal.js"></script>
<script type="text/javascript" src="/common_static/scripts/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/common_static/scripts/json2.js"></script>
<script type="text/javascript" src="/common_static/scripts/devbase.js"></script>