<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组织机构管理</title>
    {% include 'system/init.html' %}
    <style type="text/css">
        .label {
            FONT-SIZE: 14px;
            LINE-HEIGHT: 28px;
            text-align: right;
        }
    </style>
</head>
<body class="easyui-layout">

<div data-options="region:'center'" class="easyui-layout">

    <!-- 查询面板 -->
    <div class="easyui-panel"
         style="width:100%;height:150px;padding:10px;"
         data-options="iconCls:'icon-search',closable:false,region:'north',title:'组织机构管理'">
        <table>
            <tr>
                <td class="label">中文名:</td>
                <td><input id="search_dep_cn" class="easyui-textbox" type="text" style="width:200px;"
                           data-options="disabled:false"/></td>
                <td class="label">英文名:</td>
                <td><input id="search_dep_en" class="easyui-textbox" type="text" style="width:200px;"
                           data-options="disabled:false"/></td>
                <td><a id="search_btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
                </td>
            </tr>

        </table>
    </div>

    <!-- 查询表格 -->
    <div class="easyui-panel" data-options="closable:false,region:'center',title:''">
        <table id="dg" class="easyui-datagrid"
               style="width:100%;height:100%;"
               data-options="rownumbers:true,singleSelect:true,url:'/system/sm/smDepartmentAction!queryListJson.do',method:'post',toolbar:toolbar,pagination:true,pageSize:10,pageList:[10,20,50]">
            <thead>
            <tr>
                <th data-options="field:'dep_id',width:80" style="display:none">ID</th>
                <th data-options="field:'dep_cn',width:120, sortable:true">中文名</th>
                <th data-options="field:'dep_en',width:120, sortable:true">英文名</th>
                <th data-options="field:'dep_desc',width:200, sortable:true">描述</th>
                <th data-options="field:'parent_id_cn',width:200, sortable:true">所属机构</th>
                <th data-options="field:'dep_type_cn',width:120, sortable:true">机构类型</th>

                <th data-options="field:'_operate',width:80,align:'center',formatter:formatOper">操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<!-- 操作对话框 -->
<div id="dlg_add" class="easyui-dialog" title="编辑"
     style="width:400px;height:450px;padding:10px;"
     data-options="
				iconCls: 'icon-save',
				toolbar: '',
				buttons: [{
					text:'保存',
					iconCls:'icon-ok',
					handler:function(){
					    submitForm();
					}
				},{
					text:'关闭',
					handler:function(){
					    closeForm();
					}
				}]
			">

    <div style="margin:20px 0;"></div>
    <div>
        <form id="ff" method="post">
            <table cellpadding="5">
                <tr>
                    <td class="label">中文名:</td>
                    <td><input id="dep_cn" name="formobj.dep_cn" class="easyui-textbox" type="text" style="width:200px;"
                               data-options="disabled:false"/></td>
                </tr>
                <tr>
                    <td class="label">英文名:</td>
                    <td><input id="dep_en" name="formobj.dep_en" class="easyui-textbox" type="text" style="width:200px;"
                               data-options="disabled:false"/></td>
                </tr>
                <tr>
                    <td class="label">描述:</td>
                    <td><input id="dep_desc" name="formobj.dep_desc" class="easyui-textbox" type="text"
                               style="width:200px;" data-options="disabled:false"/></td>
                </tr>
                <tr>
                    <td class="label">所属机构:</td>
                    <td><select id="parent_id" name="formobj.parent_id" class="easyui-combobox" style="width:200px;"
                                data-options="valueField:'item_value',textField:'item_cn',editable:false,
                        url: '/system/sm/smDepartmentAction!getDepNames.do?time=1'"></select></td>
                </tr>
                <tr>
                    <td class="label">机构类型:</td>
                    <td><select id="dep_type" name="formobj.dep_type" class="easyui-combobox" style="width:200px;"
                                data-options="valueField:'item_value',textField:'item_cn',required:true,editable:false"></select>
                    </td>
                </tr>

            </table>
            <input type="hidden" name="formobj.dep_id" id="dep_id"/>
        </form>
    </div>
</div>


<script type="text/javascript">
    //查询按钮操作
    $('#search_btn').bind('click', function () {
        alert('search_btn click');
        $('#dg').datagrid({
            pageNumber: 1,
            url: "/system/sm/smDepartmentAction!queryListJson.do",
            queryParams: {
                search_dep_cn: $('#search_dep_cn').textbox('getValue'),
                search_dep_en: $('#search_dep_en').textbox('getValue')

            }
        });
    });

    /////
    var toolbar = [{
        text: '新增',
        iconCls: 'icon-add',
        handler: function () {
            $('#parent_id').combobox('reload');
            //alert('add');
            $('#dlg_add').dialog('open');
        }
    }, {
        text: '修改',
        iconCls: 'icon-edit',
        handler: function () {
            $('#parent_id').combobox('reload');
            //alert('修改');
            var selected = getSelected();
            if (selected == "") {
                alert("请选择要修改的记录");
                return;
            } else {
                $('#dlg_add').dialog('open');
                loadFF(selected);
            }
        }
    }, {
        text: '删除',
        iconCls: 'icon-remove',
        handler: function () {
            var selected = getSelected();
            if (selected == "") {
                alert("请选择要删除的记录");
                return;
            } else {
                if (confirm("确认要删除？"))
                    deleteData(selected);
            }
        }
    }];

    function getSelected() {
        var selected = "";
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            selected = row.dep_id;
        }
        return selected;
    }

    function submitForm() {
        if (!$("#ff").form('validate')) {
            alert('重新填写');
            return;
        }
        var formParam = $("#ff").serialize();//序列化表格内容为字符串
        $.ajax({
            type: 'post',
            url: '/system/sm/smDepartmentAction!saveData.do',
            data: formParam,
            cache: false,
            dataType: 'json',
            success: function (data) {
                //alert("操作成功");
                //$('#dg').datagrid('reload');
                //closeForm();

                if (data.code == '1') {
                    alert("操作成功");
                    $('#dg').datagrid('reload');
                    closeForm();
                } else {
                    alert(data.msg);
                }
            }
        });
    }

    function loadFF(dep_id) {
        $.ajax({
            type: 'post',
            url: '/system/sm/smDepartmentAction!loadData.do?dep_id=' + dep_id,
            data: {},
            cache: false,
            dataType: 'json',
            success: function (data) {
                $("#dep_cn").textbox('setValue', data.dep_cn);
                $("#dep_en").textbox('setValue', data.dep_en);
                $("#dep_desc").textbox('setValue', data.dep_desc);
                $("#parent_id").combobox('setValue', data.parent_id);
                $("#dep_type").combobox('setValue', data.dep_type);

                $("#dep_id").val(data.dep_id);
            }
        });

    }

    function closeForm() {
        $('#ff').form('clear');
        $('#dlg_add').dialog('close');
    }

    function deleteData(dep_id) {
        var yz = $.ajax({
            type: 'post',
            url: '/system/sm/smDepartmentAction!deleteData.do?dep_id=' + dep_id,
            data: {},
            cache: false,
            dataType: 'json',
            success: function (data) {
                if (data) {
                    alert("操作成功");
                    //window.location.reload();
                    $('#dg').datagrid('reload');
                    closeForm();
                }
            },
            error: function () {
                alert("操作异常");
                return;
            }
        });
    }

    function formatOper(val, row, index) {
        return '<a href="#" onclick="editData(' + index + ')">修改</a>';

    }

    function editData(index) {
        $('#dg').datagrid('selectRow', index);// 关键在这里
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $('#dlg_add').dialog('open');
            loadFF(row.dep_id);
        }
    }

    ////////
    $(function () {
        //界面统一设置
        $("#dg").datagrid('hideColumn', 'dep_id');
        $('#dlg_add').dialog('close');

        //扩展验证
        initValidate();

        //初始化界面设置
        $.ajax({
            type: 'post',
            url: '/system/sm/smDepartmentAction!getInitValue.do',
            cache: false,
            dataType: 'json',
            success: function (data) {
                //alert("getInitValue 操作成功");
                initUI(data);
            }
        });

        //联动的操作代码例子
//			$("#ldxl1").combobox({
//				editable : false,
//				onSelect : function(rec) {
//					$('#ldxl2').combobox('setValue', '');
//				$("#ldxl2").combobox('reload','<%=contextPath%>/demo/demoFSAction!getComoboValues.do?search_type=2&search_combo=system.test2&search_value='
//				+ $('#ldxl1').combobox('getValue'));
//				}
//			});

    });
</script>


</body>
</html>